.navbar-brand {
    float: left;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 5px;
	width:45% !important;
}

.btn-blue{
  background-color: #21c2f8;
  color:white;
}
.text-light{
 color:white;
}

.appoint-sec{
  background-image:  url('../images/appoint-bg.jpg');
  padding: 95px 0px 95px;
  background-position: right top;
    background-repeat: no-repeat;
}

.appoint-sec .right-side .inner-box{
  position: relative;
    top: 7px;
    border-radius: 5px;
    padding: 45px 45px 40px;
    background-color: #21c2f8;
    box-shadow: 0px 0px 15px 0px rgba(204,204,204,1);
    color:white;
}
.appoint-sec .right-side .inner-box .title{
  position: relative;
    color: #090913;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.appoint-sec .right-side .inner-box .title h2{
  position: relative;
  color: #242424;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4em;
  padding-bottom: 20px;
  margin-bottom: 35px;
  color:white;
}

.appoint-sec .right-side .inner-box .title h3{
  position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 22px;
    color: rgba(0,0,0,0.60);
    color:white;
}

.appoint-sec .right-side .inner-box .title .number{
  position: relative;
    color: #242424;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color:white
}

.appoint-sec form .form-control{
    border: 0;
    padding: 5px 0px;
    height: 55px;
    color: #000000;
    background: none;
    font-size: 14px;
    border-bottom: 2px solid #dadada;
    transition: all 500ms ease;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    box-shadow: 0px 0px 0px white;
}

.text-blue{
  color:#21c2f8;
}

.about-sec .col-md-4{
  box-shadow: 0px 2px 5px #dcd7d7;
  padding: 92px 44px;
  position: relative;
  background-color: white;
}

.about-sec .tri{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #21c2f8 transparent;
  position: absolute;
    z-index: -1;
    right: -10px;
    bottom: -12px;
}
.about-sec .col-md-4 h1{
  font-weight: 900;
}
.about-sec .col-md-8{
  padding: 90px;
}

.bg-blue{
  background-color: #21C2F8;
  color:white;
}
.p-0{
  padding: 0;
}

.pad{
  padding: 25px;
}
.coose-sec p{
  color: white;
}
.choose-sec h1{
  color: #ffffff;
    font-weight: 700;
    line-height: 1.2em
}
.choose-sec h1:after{
  position: absolute;
    content: '';
    left: 38%;
    height: 3px;
    width: 50px;
    bottom: 20px;
    background-color: #ffffff;
}
.choose-sec p{
  margin-bottom: 0
}
.choose-sec ul {
  list-style-type: disc;
}

.speciality-sec h1,
.surgical-sec h1,
.consulting-sec h1{
    position: relative;
    font-size: 34px;
    font-weight: 700;
    color: #242424;
    text-transform: capitalize;
    line-height: 1.2em;
    display: inline-block;
}
.speciality-sec h1:after,
.surgical-sec h1:after,
.consulting-sec h1:after{
  position: absolute;
  content: '';
  left: 105%;
  bottom: 22px;
  width: 75px;
  height: 4px;
  background-color: #55b6c7;
}

.speciality-sec .owl-carousel .owl-nav{
  text-align: center;
}

.speciality-sec .owl-carousel .owl-controls .owl-prev, .owl-carousel .owl-controls .owl-next{
  top: 50%;
  padding: 0;
    /* height: 6px; */
    overflow: inherit;
    font-size: 40px;
    border: 2px solid #e0e0e0;
    width: 80px;
    display: inline-block;
    font-size: 18px;
}
.speciality-sec .owl-carousel .owl-controls .owl-prev{
  right: 52%;
}
.speciality-sec .owl-carousel .owl-controls .owl-next{
  left: 52%;
}
.speciality-sec .owl-carousel .item .service-name{
    color: #21C2F8;
    font-weight: bold;
}
.speciality-sec .owl-carousel .item .service-name p{
  margin-bottom: 0
}

.speciality-sec .owl-carousel .item .service-text{
  padding: 10px;
}

.hospitals .col-md-4{
  padding: 30px;
}
.hospitals .col-md-4 .hospital-box{
  border: 1px solid #eadddd;
  border-radius: 5px;
}

.hospitals .title{
    color: #444444;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}

.hospitals .title:after{
      content: '';
      position: relative;
      top: 15px;
      width: 30px;
      height: 3px;
      background: #21C2F8;
      display: block;
      margin: 5px auto;
      transition: width .3s ease-in-out;
}
.hospitals .fa-hospital-o{
  position: absolute;
    top: -2px;
    left: 42%;
    padding: 14px 17px;
    background-color: #21c2f8;
    color: white;
    border-radius: 50%;
    font-size: 34px;
}
.hospitals .title:hover:after{
  width: 80px;
  transition: 0.3s;
}


footer{
  background-color: #141714;
}
footer .container{
  padding: 60px 0px 30px;
}
footer p{
  color:white;
}
footer h2{
  color:white;
  font-size: 20px;
  padding-left: 37px;
}
footer h2:after{
  position: absolute;
    content: '';
    left: 39px;
    bottom: 0px;
    width: 30px;
    height: 2px;
    background-color: #55b6c7;
}
footer ul{
  padding-left: 69px;
    list-style-type: square;
}
footer ul li a{
  color:white
}
footer h4{
  color:white;
}

footer .fa{
  margin: 15px;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
}
footer .fa-facebook{
  padding: 5px 8px;
}
footer .fa-google-plus{

}
footer a,
footer a:hover{
  color:white;
  text-decoration: none;
}
.footer-bottom {
    padding: 22px 0px;
    background-color: #000000;
}
.footer-bottom p{
  margin: 0
}






/* NM css */
.text-white{
    color: #ffffff;
}
/*inside banner*/
.single-header-n{
    background-image: url("http://www.webstrot.com/html/imedico/images/service_top_img.jpg");
    background-size: cover;
    padding: 70px;
}
.single-header-n .breadcrumb{
    bottom: -50px;
}

/* about page */
.about-page-n p {
    margin-bottom: 8px;
    text-align: justify;
}
.speciality-n img{
    width: 45%;
    margin: auto;
}
.first-sec{
    background-color: #007cff;
    padding: 35px;
    color: #ffffff;
}
.first-sec p{
    margin-bottom: 5px;
    text-align: justify;
}
.first-sec .education{
    border-right: 1px solid #ccc;
}
.second-sec{
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 60px;
}
.second-col{
  padding: 20px;
  text-align: justify;
  border: 1px solid #ccc;
  border-bottom: 5px solid #21c2f8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
}
.second-col ul{
  padding-left: 20px;
}
.second-col li{
  list-style-type: circle;
}














@media (max-width: 768px) {
	.navbar-brand {
    float: left;
    padding: 5px 15px;
     font-size: 18px;
    line-height: 20px;
    /* height: 1px; */
	width:65% !important;
	margin-top:10px;
}
}
.aboutUs {
    position: relative !important;
    padding: 0;
    margin: 0;
    z-index: 100;
    display: block;
    overflow: visible;
}

.map1
{
	width:100%;
}
.services_lists_boxes h4 {
    color: #666!important;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 500;
}
.WhyText
{

	font-size:20px;
}
.txt2
{
	font-size:24px;
	color:#21C2F8;
	font-weight:800;
}
@media (max-width: 768px) {
	.WhyText
{

	font-size:20px;
	margin-left:10px;
	line-height: 24px;
}
}
.vl
{
	border-left:1px solid #666;
}
@media (max-width: 700px) {

.vl
{
	border-left:1px solid #666;
	display:none;
}
}
.actives a
{
	color:#21C2F8!important;
}
.bannertxt
{
	font-size:32px!important;
	line-height:40px;
	text-transform:uppercase;
	margin-left:20px;
}
.prfileB
{
	/* -webkit-box-shadow: 10px 10px 6px -6px #777;
       -moz-box-shadow: 10px 10px 6px -6px #777;
            box-shadow: 10px 10px 6px -6px #777; */
			background-color:#f3f3f3;
}
.profileTxt
{
	padding-left:10px;
}
.profileTxt .title h2
	{

	border-bottom:1px solid #666;
	}
@media (max-width: 500px) {

	.profileTxt
{
	padding-left:5px;
	padding-top:20px;

}
	.profileTxt .title h2
	{
	font-size:20px!important;
	border-bottom:1px solid #666;
	}
}
@media (max-width: 500px) {
	.bannertxt
{
	font-size:10px!important;
	line-height:18px;
	text-transform:uppercase;
	margin-left:20px;
}
}
.contact_widget ul li a
{
	color:#d1d1d1;
}
.servicesftr ul li a
{
	color:#d1d1d1 !important;
	text-decoration:none;
}
.title h2 {
    font-weight: bold;
	font-size:24px;
}
@media (max-width: 500px)
{
}

.hospital-col{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
.consulting-sec .col-sm-2{
  padding-left: 8px;
  padding-right: 8px;
}
.hospital-col p{
  text-align: justify;
  margin-bottom: 5px;
}
